.blackboard-back{
    background: #5F4C0B;
    margin-left: 350px;
    margin-top: 10px;
    width: 1100px;
    height: 700px;
    padding-top: 25px;
    border-radius: 45px;
}
.blackboard-front{
    background: rgba(8,138,8, 0.8);
    margin-left: 35px;
    width: 1030px;
    height: 650px;
    border-radius: 30px;
    overflow: auto;
}
.board-header, .input, .output{
    padding: 15px;
}
.board-header h2{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}
.input p, .output p{
    color: #fff;
    font: 500;
    font-size: 20px;
}
.input img{
    width: 990px;
    height: 300px;
}
.output img{
    width: 990px;
    height: 600px;
}
#Image{
    width: 190px;
    height: 190px;
    margin-left: 1000px;
    z-index: 99;
    position: absolute;
    transform: translateY(-50%);
}